In [1]:
# Dependencies and Setup
import pandas as pd
>>> from citipy import citipy
>>> city = citipy.nearest_city(22.99, 120.21)
>>> city
<citipy.City instance at 0x1069b6518>
>>>
>>> city.city_name     # Tainan, my home town
'tainan'
>>>
>>> city.country_code
'tw'                  # And the country is surely Taiwan


# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# print('school')
# print(school_data.head())
# print('student')
# print(student_data.head())

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name"])
# print('merged')
#print(school_data_complete.head())

# Separate out Charter and District
district_group = school_data_complete.loc[school_data_complete['type'] == 'District']
charter_group = school_data_complete.loc[school_data_complete['type'] == 'Charter']
# print('district')
# print(district_group.head())
# print('charter')
# print(charter_group.head())

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [13]:
def type_statistics(type_df, name, df):
    
    # Calculate the total number of schools
    num_schools = df['school_name'].nunique()

    # Calculate the total number of students
    num_students = df['student_name'].size

    # Calculate the total budget
    budget_df = type_df['budget'].sum()
    budget = budget_df[name]
    
    # Calculate the average math score
    math_score = df['math_score'].mean() 

    # Calculate the average reading score
    reading_score = df['reading_score'].mean()

    # Calculate the overall passing rate (overall average score)
    passing_score = (math_score + reading_score)/2

    # Calculate the percentage of students with a passing math score (70 or greater)
    passing_math_num = (df['math_score'] >= 70).sum()
    passing_math_avg = passing_math_num / num_students * 100

    # Calculate the percentage of students with a passing reading score (70 or greater)
    passing_read_num = (df['reading_score'] >= 70).sum()
    passing_read_avg = passing_read_num / num_students * 100
    
    # Extra: Budget per student
    budget_per_student = budget / num_students    

    # TODO:
    # Create a dataframe to hold the above results
    results = pd.DataFrame([{'Type' : name,
                'Number of Schools' : num_schools,
                'Number of Students' : num_students,
                'Budget' : budget,
                'Average Math Score' : math_score,
                'Average Reading Score' : reading_score,
                'Overall Passing Average' : passing_score,
                'Passing Math Average' : passing_math_avg,
                'Passing Reading Average' : passing_read_avg,
                'Budget per Student' : budget_per_student}])
    
    # order the columns
    results = results[['Type',
                       'Number of Schools',
                       'Number of Students',
                       'Budget',
                       'Average Math Score',
                       'Average Reading Score',
                       'Overall Passing Average',
                       'Passing Math Average',
                       'Passing Reading Average',
                       'Budget per Student']]
    
    return results

In [12]:
# District

type_df = school_data.groupby(['type'])

dist_stats_df = type_statistics(type_df, 'District', district_group)

ch_stats_df = type_statistics(type_df, 'Charter', charter_group)

stats_df = pd.concat([dist_stats_df, ch_stats_df], ignore_index=True)

# Use Map to format all the columns
stats_df["Budget"] = stats_df["Budget"].map("${:,.0f}".format)
stats_df["Average Math Score"] = stats_df["Average Math Score"].map("{:.2f}%".format)
stats_df["Average Reading Score"] = stats_df["Average Reading Score"].map("{:.2f}%".format)
stats_df["Overall Passing Average"] = stats_df["Overall Passing Average"].map("{:.2f}%".format)
stats_df["Passing Math Average"] = stats_df["Passing Math Average"].map("{:.2f}%".format)
stats_df["Passing Reading Average"] = stats_df["Passing Reading Average"].map("{:.2f}%".format)
stats_df["Budget per Student"] = stats_df["Budget per Student"].map("${:,.0f}".format)

stats_df

,Type,Number of Schools,Number of Students,Budget,Average Math Score,Average Reading Score,Overall Passing Average,Passing Math Average,Passing Reading Average,Budget per Student
0,District,7,26976,"$17,347,923",76.99%,80.96%,78.97%,66.52%,80.91%,$643
1,Charter,8,12194,"$7,301,505",83.41%,83.90%,83.65%,93.70%,96.65%,$599

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [4]:
def school_stats(school_list):
    
    # School Name
    # School Type
    # Total Students
    # Total School Budget
    # Per Student Budget
    # Average Math Score
    # Average Reading Score
    # % Passing Math
    # % Passing Reading
    # Overall Passing Rate (Average of the above two)
    # Create a dataframe to hold the above results
    
    school_name = school_list[0]

    school_data = school_list[1]

    school_type = school_data.iloc[0]['type']
    
    total_students = school_data['Student ID'].count()
    
    school_budget = school_data.iloc[0]['budget']
    per_student_budget = school_budget/total_students
    
    average_math_score = school_data['math_score'].mean()
    average_reading_score = school_data['reading_score'].mean()
    
    num_passing_math = (school_data['math_score'] >= 70).sum()
    percent_passing_math = num_passing_math/total_students*100
    
    num_passing_reading = (school_data['reading_score'] >= 70).sum()
    percent_passing_reading = num_passing_reading/total_students*100
    
    overall_passing_rate = (num_passing_math + num_passing_reading) / 2 / total_students * 100
    
    results = pd.DataFrame([{"School Name" : school_name,
                            "School Type" : school_type,
                            "Total Students" : total_students,
                            "Total School Budget" : school_budget,
                            "Per Student Budget" : per_student_budget,
                            "Average Math Score" : average_math_score,
                            "Average Reading Score" : average_reading_score,
                            "% Passing Math" : percent_passing_math,
                            "% Passing Reading" : percent_passing_reading,
                            "Overall Passing Rate" : overall_passing_rate
                            }])

    return results

In [5]:
# Create an overview table that summarizes key metrics about each school, including:

school_df = school_data_complete.groupby(['school_name'])
num_students = school_df['school_name'].count()
num_schools = school_df['school_name'].nunique().size

# print(num_schools)
school_stats_df = pd.DataFrame()
one_school_stats_df = pd.DataFrame()
for i in range(0, num_schools):
    one_school_stats_df = school_stats(list(school_df)[i])
    school_stats_df = pd.concat([school_stats_df, one_school_stats_df], ignore_index=True)

# order the columns
school_stats_df = school_stats_df[['School Name',
                    'School Type',
                    'Total Students',
                    'Total School Budget',
                    'Per Student Budget',
                    'Average Math Score',
                    'Average Reading Score',
                    '% Passing Math',
                    '% Passing Reading',
                    'Overall Passing Rate']]

# Use Map to format all the columns
school_stats_df["Total School Budget"] = school_stats_df["Total School Budget"].map("${:,.0f}".format)
school_stats_df["Per Student Budget"] = school_stats_df["Per Student Budget"].map("${:,.0f}".format)
school_stats_df["Average Math Score"] = school_stats_df["Average Math Score"].map("{:.2f}%".format)
school_stats_df["Average Reading Score"] = school_stats_df["Average Reading Score"].map("{:.2f}%".format)
school_stats_df["% Passing Math"] = school_stats_df["% Passing Math"].map("{:.2f}%".format)
school_stats_df["% Passing Reading"] = school_stats_df["% Passing Reading"].map("{:.2f}%".format)
school_stats_df["Overall Passing Rate"] = school_stats_df["Overall Passing Rate"].map("{:.2f}%".format)

print("School Summary")
school_stats_df

School Summary

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,Bailey High School,District,4976,"$3,124,928",$628,77.05%,81.03%,66.68%,81.93%,74.31%
1,Cabrera High School,Charter,1858,"$1,081,356",$582,83.06%,83.98%,94.13%,97.04%,95.59%
2,Figueroa High School,District,2949,"$1,884,411",$639,76.71%,81.16%,65.99%,80.74%,73.36%
3,Ford High School,District,2739,"$1,763,916",$644,77.10%,80.75%,68.31%,79.30%,73.80%
4,Griffin High School,Charter,1468,"$917,500",$625,83.35%,83.82%,93.39%,97.14%,95.27%
5,Hernandez High School,District,4635,"$3,022,020",$652,77.29%,80.93%,66.75%,80.86%,73.81%
6,Holden High School,Charter,427,"$248,087",$581,83.80%,83.81%,92.51%,96.25%,94.38%
7,Huang High School,District,2917,"$1,910,635",$655,76.63%,81.18%,65.68%,81.32%,73.50%
8,Johnson High School,District,4761,"$3,094,650",$650,77.07%,80.97%,66.06%,81.22%,73.64%
9,Pena High School,Charter,962,"$585,858",$609,83.84%,84.04%,94.59%,95.95%,95.27%
10,Rodriguez High School,District,3999,"$2,547,363",$637,76.84%,80.74%,66.37%,80.22%,73.29%
11,Shelton High School,Charter,1761,"$1,056,600",$600,83.36%,83.73%,93.87%,95.85%,94.86%
12,Thomas High School,Charter,1635,"$1,043,130",$638,83.42%,83.85%,93.27%,97.31%,95.29%
13,Wilson High School,Charter,2283,"$1,319,574",$578,83.27%,83.99%,93.87%,96.54%,95.20%
14,Wright High School,Charter,1800,"$1,049,400",$583,83.68%,83.95%,93.33%,96.61%,94.97%

## Top Performing Schools (By Passing Rate)

* Sort and display the five best-performing schools

In [6]:
print("Best Schools")
school_stats_df.sort_values(by='Overall Passing Rate', ascending=False).head()

Best Schools

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
1,Cabrera High School,Charter,1858,"$1,081,356",$582,83.06%,83.98%,94.13%,97.04%,95.59%
12,Thomas High School,Charter,1635,"$1,043,130",$638,83.42%,83.85%,93.27%,97.31%,95.29%
4,Griffin High School,Charter,1468,"$917,500",$625,83.35%,83.82%,93.39%,97.14%,95.27%
9,Pena High School,Charter,962,"$585,858",$609,83.84%,84.04%,94.59%,95.95%,95.27%
13,Wilson High School,Charter,2283,"$1,319,574",$578,83.27%,83.99%,93.87%,96.54%,95.20%

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [7]:
print("Worst Schools")
school_stats_df.sort_values(by='Overall Passing Rate', ascending=True).head()

Worst Schools

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
10,Rodriguez High School,District,3999,"$2,547,363",$637,76.84%,80.74%,66.37%,80.22%,73.29%
2,Figueroa High School,District,2949,"$1,884,411",$639,76.71%,81.16%,65.99%,80.74%,73.36%
7,Huang High School,District,2917,"$1,910,635",$655,76.63%,81.18%,65.68%,81.32%,73.50%
8,Johnson High School,District,4761,"$3,094,650",$650,77.07%,80.97%,66.06%,81.22%,73.64%
3,Ford High School,District,2739,"$1,763,916",$644,77.10%,80.75%,68.31%,79.30%,73.80%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [8]:
# Group the data by school and grade
school_grades_df = school_data_complete.groupby(['school_name', 'grade'])

# Accumulate the data
# TODO: for efficiency, use a list and only make a DataFrame one time at the list
grades_df = pd.DataFrame({'School' : [], 'Grade' : [], 'Math Score' : [], 'Reading Score': []})
for name_of_the_group, group in school_grades_df:
    math_avg = group['math_score'].mean()
    reading_avg = group['reading_score'].mean()
    grades_df = grades_df.append({'School' : name_of_the_group[0],
                                 'Grade' : name_of_the_group[1],
                                 'Math Score' : math_avg,
                                 'Reading Score' : reading_avg}, ignore_index=True)

# Format the percents
grades_df["Math Score"] = grades_df["Math Score"].map("{:.2f}%".format)
grades_df["Reading Score"] = grades_df["Reading Score"].map("{:.2f}%".format)

grades_df

                   School Grade Math Score Reading Score
0      Bailey High School  10th     77.00%        80.91%
1      Bailey High School  11th     77.52%        80.95%
2      Bailey High School  12th     76.49%        80.91%
3      Bailey High School   9th     77.08%        81.30%
4     Cabrera High School  10th     83.15%        84.25%
5     Cabrera High School  11th     82.77%        83.79%
6     Cabrera High School  12th     83.28%        84.29%
7     Cabrera High School   9th     83.09%        83.68%
8    Figueroa High School  10th     76.54%        81.41%
9    Figueroa High School  11th     76.88%        80.64%
10   Figueroa High School  12th     77.15%        81.38%
11   Figueroa High School   9th     76.40%        81.20%
12       Ford High School  10th     77.67%        81.26%
13       Ford High School  11th     76.92%        80.40%
14       Ford High School  12th     76.18%        80.66%
15       Ford High School   9th     77.36%        80.63%
16    Griffin High School  10th     84.23%        83.71%
17    Griffin High School  11th     83.84%        84.29%
18    Griffin High School  12th     83.36%        84.01%
19    Griffin High School   9th     82.04%        83.37%
20  Hernandez High School  10th     77.34%        80.66%
21  Hernandez High School  11th     77.14%        81.40%
22  Hernandez High School  12th     77.19%        80.86%
23  Hernandez High School   9th     77.44%        80.87%
24     Holden High School  10th     83.43%        83.32%
25     Holden High School  11th     85.00%        83.82%
26     Holden High School  12th     82.86%        84.70%
27     Holden High School   9th     83.79%        83.68%
28      Huang High School  10th     75.91%        81.51%
29      Huang High School  11th     76.45%        81.42%
30      Huang High School  12th     77.23%        80.31%
31      Huang High School   9th     77.03%        81.29%
32    Johnson High School  10th     76.69%        80.77%
33    Johnson High School  11th     77.49%        80.62%
34    Johnson High School  12th     76.86%        81.23%
35    Johnson High School   9th     77.19%        81.26%
36       Pena High School  10th     83.37%        83.61%
37       Pena High School  11th     84.33%        84.34%
38       Pena High School  12th     84.12%        84.59%
39       Pena High School   9th     83.63%        83.81%
40  Rodriguez High School  10th     76.61%        80.63%
41  Rodriguez High School  11th     76.40%        80.86%
42  Rodriguez High School  12th     77.69%        80.38%
43  Rodriguez High School   9th     76.86%        80.99%
44    Shelton High School  10th     82.92%        83.44%
45    Shelton High School  11th     83.38%        84.37%
46    Shelton High School  12th     83.78%        82.78%
47    Shelton High School   9th     83.42%        84.12%
48     Thomas High School  10th     83.09%        84.25%
49     Thomas High School  11th     83.50%        83.59%
50     Thomas High School  12th     83.50%        83.83%
51     Thomas High School   9th     83.59%        83.73%
52     Wilson High School  10th     83.72%        84.02%
53     Wilson High School  11th     83.20%        83.76%
54     Wilson High School  12th     83.04%        84.32%
55     Wilson High School   9th     83.09%        83.94%
56     Wright High School  10th     84.01%        83.81%
57     Wright High School  11th     83.84%        84.16%
58     Wright High School  12th     83.64%        84.07%
59     Wright High School   9th     83.26%        83.83%

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [9]:
# bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["0-585", "585-615", "615-645", "645-675"]

# remove all the dollar signs
colstocheck = school_stats_df.columns
school_stats_df[colstocheck] = school_stats_df[colstocheck].replace({'\$':''}, regex = True)
# remove all the percent signs
school_stats_df[colstocheck] = school_stats_df[colstocheck].replace({'\%':''}, regex = True)

# turn the budget column into an int
school_stats_df['Per Student Budget'] = pd.to_numeric(school_stats_df['Per Student Budget'])

# turn the % Passing Math column into a float
school_stats_df['% Passing Math'] = pd.to_numeric(school_stats_df['% Passing Math'])

# turn the % Passing Reading column into a float
school_stats_df['% Passing Reading'] = pd.to_numeric(school_stats_df['% Passing Reading'])

# Save school_stats_df
orig_school_stats_df = school_stats_df.copy()

# cut into bins and add a column
school_stats_df["Per Student Budget Summary"] = pd.cut(school_stats_df["Per Student Budget"], spending_bins, labels=group_names)

# groupby the bins
# Group the data by school and total students
spending_summary_df = pd.DataFrame()
school_spending = school_stats_df.groupby(['School Name', 'Total Students'])
for spending, spending_data in school_spending:
    avg_math_score = spending_data.get('Average Math Score').item()
    avg_reading_score = spending_data.get('Average Reading Score').item()  
    passing_math = spending_data.get('% Passing Math').item()
    passing_reading = spending_data.get('% Passing Reading').item()
    overall_passing = (passing_math + passing_reading) / 2
    
    spending_summary_df = spending_summary_df.append({'School' : spending[0],
                                                    'Spending' : spending[1],
                                                    'Average Math Score' : avg_math_score,
                                                    'Average Reading Score' : avg_reading_score,
                                                    '% Passing Math' : passing_math,
                                                    '% Passing Reading' : passing_reading,
                                                    'Overall Passing Rate' : overall_passing,
                                                     }, ignore_index=True)

spending_summary_df = spending_summary_df.sort_values(by=['Spending', 'Overall Passing Rate'], ascending=False)
spending_summary_df

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Overall Passing Rate,School,Spending
0,66.68,81.93,77.05,81.03,74.305,Bailey High School,4976.0
8,66.06,81.22,77.07,80.97,73.640,Johnson High School,4761.0
5,66.75,80.86,77.29,80.93,73.805,Hernandez High School,4635.0
10,66.37,80.22,76.84,80.74,73.295,Rodriguez High School,3999.0
2,65.99,80.74,76.71,81.16,73.365,Figueroa High School,2949.0
7,65.68,81.32,76.63,81.18,73.500,Huang High School,2917.0
3,68.31,79.30,77.10,80.75,73.805,Ford High School,2739.0
13,93.87,96.54,83.27,83.99,95.205,Wilson High School,2283.0
1,94.13,97.04,83.06,83.98,95.585,Cabrera High School,1858.0
14,93.33,96.61,83.68,83.95,94.970,Wright High School,1800.0
11,93.87,95.85,83.36,83.73,94.860,Shelton High School,1761.0
12,93.27,97.31,83.42,83.85,95.290,Thomas High School,1635.0
4,93.39,97.14,83.35,83.82,95.265,Griffin High School,1468.0
9,94.59,95.95,83.84,84.04,95.270,Pena High School,962.0
6,92.51,96.25,83.80,83.81,94.380,Holden High School,427.0

## Scores by School Size

* Perform the same operations as above, based on school size.

In [10]:
# bins.
size_bins = [0, 1000, 2000, 5000]
size_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

size_school_stats_df = orig_school_stats_df.copy()
#print(size_school_stats_df)

# cut into bins and add a column
size_school_stats_df["Student Size Summary"] = pd.cut(size_school_stats_df["Total Students"]
                                                            , size_bins, labels=size_names)
#print(size_school_stats_df)

# groupby the bins
# Group the data by school and student size
size_summary_df = pd.DataFrame()
school_size = size_school_stats_df.groupby(['Student Size Summary', 'Total Students'])
#print(school_size)
for size, size_data in school_size:
    avg_math_score = size_data.get('Average Math Score').item()
    avg_reading_score = size_data.get('Average Reading Score').item()  
    passing_math = size_data.get('% Passing Math').item()
    passing_reading = size_data.get('% Passing Reading').item()
    overall_passing = (passing_math + passing_reading) / 2
    
    size_summary_df = size_summary_df.append({'Student Size Summary' : size[0],
                                            'Total Students' : size[1],
                                            'Average Math Score' : avg_math_score,
                                            'Average Reading Score' : avg_reading_score,
                                            '% Passing Math' : passing_math,
                                            '% Passing Reading' : passing_reading,
                                            'Overall Passing Rate' : overall_passing,
                                             }, ignore_index=True)

#print(size_summary_df.columns)
size_summary_df = size_summary_df.sort_values(by=['Student Size Summary', 'Overall Passing Rate'], ascending=False)
size_summary_df

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Overall Passing Rate,Student Size Summary,Total Students
1,94.59,95.95,83.84,84.04,95.270,Small (<1000),962.0
0,92.51,96.25,83.80,83.81,94.380,Small (<1000),427.0
6,94.13,97.04,83.06,83.98,95.585,Medium (1000-2000),1858.0
3,93.27,97.31,83.42,83.85,95.290,Medium (1000-2000),1635.0
2,93.39,97.14,83.35,83.82,95.265,Medium (1000-2000),1468.0
5,93.33,96.61,83.68,83.95,94.970,Medium (1000-2000),1800.0
4,93.87,95.85,83.36,83.73,94.860,Medium (1000-2000),1761.0
7,93.87,96.54,83.27,83.99,95.205,Large (2000-5000),2283.0
14,66.68,81.93,77.05,81.03,74.305,Large (2000-5000),4976.0
8,68.31,79.30,77.10,80.75,73.805,Large (2000-5000),2739.0
12,66.75,80.86,77.29,80.93,73.805,Large (2000-5000),4635.0
13,66.06,81.22,77.07,80.97,73.640,Large (2000-5000),4761.0
9,65.68,81.32,76.63,81.18,73.500,Large (2000-5000),2917.0
10,65.99,80.74,76.71,81.16,73.365,Large (2000-5000),2949.0
11,66.37,80.22,76.84,80.74,73.295,Large (2000-5000),3999.0

## Scores by School Type

* Perform the same operations as above, based on school type.

In [11]:
orig_school_stats_df.set_index(["School Name"])["School Type"]

school_type_stats_df = orig_school_stats_df.sort_values(by='Overall Passing Rate', ascending=False)

school_type_stats_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
1,Cabrera High School,Charter,1858,"1,081,356",582,83.06,83.98,94.13,97.04,95.59
12,Thomas High School,Charter,1635,"1,043,130",638,83.42,83.85,93.27,97.31,95.29
4,Griffin High School,Charter,1468,"917,500",625,83.35,83.82,93.39,97.14,95.27
9,Pena High School,Charter,962,"585,858",609,83.84,84.04,94.59,95.95,95.27
13,Wilson High School,Charter,2283,"1,319,574",578,83.27,83.99,93.87,96.54,95.20
14,Wright High School,Charter,1800,"1,049,400",583,83.68,83.95,93.33,96.61,94.97
11,Shelton High School,Charter,1761,"1,056,600",600,83.36,83.73,93.87,95.85,94.86
6,Holden High School,Charter,427,"248,087",581,83.80,83.81,92.51,96.25,94.38
0,Bailey High School,District,4976,"3,124,928",628,77.05,81.03,66.68,81.93,74.31
5,Hernandez High School,District,4635,"3,022,020",652,77.29,80.93,66.75,80.86,73.81
3,Ford High School,District,2739,"1,763,916",644,77.10,80.75,68.31,79.30,73.80
8,Johnson High School,District,4761,"3,094,650",650,77.07,80.97,66.06,81.22,73.64
7,Huang High School,District,2917,"1,910,635",655,76.63,81.18,65.68,81.32,73.50
2,Figueroa High School,District,2949,"1,884,411",639,76.71,81.16,65.99,80.74,73.36
10,Rodriguez High School,District,3999,"2,547,363",637,76.84,80.74,66.37,80.22,73.29